services:
    php:
      build: .
      volumes:
        - ./www:/var/www/html

    nginx:
      image: nginx:latest
      ports:
        - "8081:443"
      volumes:
        - ./www:/var/www/html
        - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
        - ./ssl:/etc/nginx/ssl
      depends_on:
        - php
    mysql:
      image: mysql:8.4
      container_name: mysql
      restart: always
      environment:
        MYSQL_ROOT_PASSWORD: "${MYSQL_ROOT_PASSWORD}"
        MYSQL_DATABASE: "${MYSQL_DATABASE}"
        MYSQL_USER: "${MYSQL_USER}"
        MYSQL_PASSWORD: "${MYSQL_PASSWORD}"
      ports:
        - "3306:3306"
      volumes:
        - db_data:/var/lib/mysql

    phpmyadmin:
      image: phpmyadmin:latest
      container_name: phpmyadmin
      depends_on:
        - mysql
      restart: always
      ports:
        - "8082:443"
      volumes:
        - ./ssl:/etc/apache2/ssl:ro
        - ./apache/phpmyadmin-ssl.conf:/etc/apache2/sites-available/phpmyadmin-ssl.conf:ro
        - ./apache/docker-entrypoint.sh:/custom-entrypoint.sh:ro
      entrypoint: ["/custom-entrypoint.sh"]
      environment:
        - PMA_HOST=mysql
        - PMA_USER=root
        - PMA_PASSWORD=root
        - UPLOAD_LIMIT=64M

volumes:
  db_data: